
<div class="grid">
	<div class="col-12">
		<div class="card">
			<h5>Matches</h5>
			<p-dataView #dv [value]="products" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField" [sortOrder]="sortOrder" layout="list">
                <!--<ng-template pTemplate="header">
                    <div class="grid grid-nogutter flex-column md:flex-row justify-content-between">


                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
				</ng-template>-->

                <!--
               "id": "1",
            "team1": "Lakers",
            "team2": "Runnrs",
            "date": "17.07.2023",
            "image": "team1.jpeg",
            "price": 65,
            "place": "London",
            "status": "Hot Game",
            "rating": "5/10"
                -->

				<ng-template let-product pTemplate="listItem">
					<div class="col-12" id="newestmatches">
						
						
					</div>
				</ng-template>


			</p-dataView>
		</div>
	</div>


</div>
