<p>sjdnsjnds</p>
<div class="col-12">
    <div id="content">
                    
        <div class="surface-card p-4 shadow-2 border-round grid grid-cols-2 gap-4">
            <img src="./img/news2.png"  class="my-4 md:my-0 w-9 md:w-10rem shadow-2"/>
            <div>
              <div class="text-3xl font-medium text-900 mb-3">Titel</div>
              <div class="font-medium text-500 mb-3">Description</div>
              <h6>Von: 2023</h6>
              
            </div>
        </div><br><br>
    </div>
</div>



